@model IEnumerable<JournalSystemMVC.Models.ResidentData.JournalEntry>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntryText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JournalEntryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JournalEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JournalEntryId })
        </td>
    </tr>
}

</table>
